<!DOCTYPE html>
<html>
  <head>
    <title>Boilerplate</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application' %>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body class='admin'>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
